@font-face{
    font-family: "Karla";
    src: url(../fonts/Karla-Light.ttf);
    
}


.header{
    background-color: chartreuse;
    margin: 20px;
    font-family: "Karla";
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
  
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 20px;
    font-size: 14px;
    line-height: 0px;
    text-align: center;
    
}

.contenedor > div{
    display: block;
    padding: 20px;
    color:white;
    background: black;
    font-family: "Karla";
    src: url(../fonts/Karla-Light.ttf);
    

}

.contenedor .image{
    overflow: hidden;
    max-width: 100%;
    
    
}
.footer{
    color: black;
    font-family:"Karla";
    src: url(../fonts/Karla-Light.ttf);
    font-size: 8pt;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.pFooter{
    color: chartreuse;
}